.header {
  display: flex;
  align-items: center;
  height: 48px;
  padding-left: 48px;
}

.header--with-left-action {
  padding-left: 42px;
}

.header-action {
  position: absolute;
  width: 24px;
  height: 24px;
}

.header-action--left {
  left: 12px;
}
